body{
    margin:0;
     

}
.nav{
    width: 100%;
    height: 40px;
    background-color: black;
    position: fixed;
}
.nav:hover{

    box-shadow: 0 0 40px rgb(0, 195, 255);
}
.main1{
    width: 100%;
    height: 700px;
    background-color: black;

}
.form{
    width: 400px;
    height: 400px;
    background-color: transparent;
    margin-top: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border:2px ridge black;
   
    box-shadow: 0 0 40px black ;
    
}
.form:hover{
    /* opacity: 0.5; */
    border:2px solid rgb(0, 195, 255);
    box-shadow: 0 0 40px rgb(0, 195, 255);
}
.main{
    width: 100%;
    height: 700px;
    background-image: url(/form/assets/img/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    display: flex;
    
}

.bg{
    width: 100%;
    height: 700px;

}
.label{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    background-color: black;
    border: 2px solid black;
    cursor: pointer;
}
.label:hover{
    
    width: 305px;
    height: 35px;
    border:2px solid rgb(0, 195, 255);
    box-shadow: 0 0 40px rgb(0, 195, 255);
    opacity: 1;

}



.button{
    width: 100px;
    height: 30px;
    background-color: rgb(0, 204, 0);
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    border-radius: 5px;
    padding-top: 10px;
    cursor: pointer;
}
.button:hover{
   
    text-shadow: 0 0 5px red;
    box-shadow: 2 1 20px red;
    border:2px solid rgb(0, 204, 0);
    box-shadow: 0 0 40px rgb(0, 204, 0);
}
.button:active{
    opacity: 0.5;
    box-shadow: 0 0 20px black;
}
.footer{
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: center;

}
.footer:hover{
    
    box-shadow: 0 0 40px rgb(0, 195, 255);
    
    
    
}
#footer{
    width: 300px;
    height: 30px;
    background-color: black;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 200px;
    margin-left: 20%;

}
#footer:hover{
    
    color: white;
    
    
    
}
